<H1>Temps de trajet</H1>
<div id="formulaire">
  <form (ngSubmit)="onCalculeTemps()" id="form">
    <input type="number" name="distance" id="distanceInput" [(ngModel)]="distance">
    <input type="number" name="vitesseMoy" id="vitesseMoyInput" [(ngModel)]="vitesseMoy">
    <input type="number" name="tempsRecharge" id="tempsRechargeInput" [(ngModel)]="tempsRecharge">
    <button type="submit">Calculer</button>
  </form>
</div>

<div id="resultat">
  <p>Temps de trajet : {{tempsTrajet}}</p>
</div>



<app-map></app-map>



<div>
  <ul>
    <li *ngFor="let vehicule of mylistVehicule">
        <p class="name">Marque : {{vehicule.naming.make}}</p>
        <p class="name">Modèle : {{vehicule.naming.model}}</p>
        <img src="{{ vehicule.media.image.thumbnail_url }}" alt="{{ vehicule.naming.make }}">
    </li>
  </ul>

</div>
