.map-container {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;

  width: 80%;
  height: 100%;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.listVehicule {
  /*encré a droite*/

  overflow-x: scroll;
  /*zone scrollable*/
  overflow-y: scroll;

  height: 600px;



  /*couleur de fond*/
  background-color: #f1f1f1;
  /*couleur de bordure*/
  border: 1px solid #ccc;
  /*couleur de texte*/
  color: #444;
  /*couleur de fond des liens*/
  background-color: #f1f1f1;
  /*couleur de fond des liens survolés*/
  background-color: #ddd;
  /*couleur de fond des liens sélectionnés*/
  background-color: #ccc;
  /*couleur de fond des liens actifs*/
  background-color: #bbb;
  /*couleur de fond des liens actifs survolés*/
  background-color: #aaa;
  /*couleur de fond des liens actifs sélectionnés*/
  background-color: #999;




}

#img {
  width: 100%;
  height: 100%;
}

li {

  border: #444 1px solid;
}

#formulaire {

  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100%;

}

#form {
  display: flex;
  flex-direction: column;

}
