<div id="formulaire">
  <form (ngSubmit)="onAfficheTrajet()" id="form">
    <input type="string" name="ville1" id="ville1Input" [(ngModel)]="ville1">
    <input type="string" name="ville2" id="ville2Input" [(ngModel)]="ville2">
    <button type="submit">Trajet</button>
  </form>
</div>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>



<div class="listVehicule">
  <ul>
    <li *ngFor="let vehicule of mylistVehicule">
        <p class="name">Marque : {{vehicule.naming.make}}</p>
        <p class="name">Modèle : {{vehicule.naming.model}}</p>
        <img src="{{ vehicule.media.image.thumbnail_url }}" alt="{{ vehicule.naming.make }}" (click)="selectVehicule(vehicule)">
    </li>
  </ul>

</div>
